<!DOCTYPE html>
<html lang="en" ng-app="MySiteApp">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <!-- Angular Scripts -->
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.js"></script>

        <!-- Angular JS -->
        <script src="index.js"></script>
        <script src="controllers.js"></script>
        <!--<script src="cart.js"></script>-->
        <!--<script src="checkout.js"></script>-->

        <!-- Bootstrap -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

        <!-- Index CSS -->
        <link rel="stylesheet" href="index.css">

        <!--font: playfair display-->

        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!--font: font awesome-->

        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

        <!-- Facebook Like -->
        <!--<script>-->
        <!--window.fbAsyncInit = function() {-->
        <!--FB.init({-->
        <!--appId      : '583333325176517',-->
        <!--xfbml      : true,-->
        <!--version    : 'v2.6'-->
        <!--});-->
        <!--};-->
        <!--(function(d, s, id){-->
        <!--var js, fjs = d.getElementsByTagName(s)[0];-->
        <!--if (d.getElementById(id)) {return;}-->
        <!--js = d.createElement(s); js.id = id;-->
        <!--js.src = "//connect.facebook.net/en_US/sdk.js";-->
        <!--fjs.parentNode.insertBefore(js, fjs);-->
        <!--}(document, 'script', 'facebook-jssdk'));-->
        <!--</script>-->
    </head>

    <body ng-controller="ViewsLoginCtrl">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/main">
                        <img height="30" src="/assets/acclogoclear.png">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#/shop">shop</a></li>
                            <li><a href="#/about">about</a></li>
                            <li><a href="#/zine">zine</a></li>
                            <li><a href="#/stories">stories</a></li>
                            <li><a href="#/login">login</a></li>
                            <li><a href="#/register">register</a></li>
                            <li><a href="#/protected/checkout">checkout</a></li>
                            <li><a href="#/authoring">authoring</a></li>

                            <li>
                                <form class="nav navbar-form navbar-right" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control search-input" placeholder="search" ng-model="search.product_name">
                                    </div>
                                    <a class="search-icon" type="submit"><i class="glyphicon glyphicon-search glyphicon-rotate-180"></i></a>
                                    <!--reinstate this and remove glyphicon line above if search not working-->
                                    <!--<button type="submit" class="btn btn-default">submit</button>-->
                                </form>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div ui-view class="views"></div>

    </body>
</html>