.views {
    padding-top: 5em;
}

.thumbnail {
    overflow:hidden;
    white-space: nowrap;
    /*-ms-text-overflow: ellipsis;*/
    /*-o-text-overflow: ellipsis;*/
    text-overflow: ellipsis;
    width:100%;
    display:block;
}

.listings-image {
    max-width: 60%;
    max-height: 60%;
}

.details-image {
    max-width: 50%;
    max-height: 50%;
}

.navbar {
    height: 60px;
    background-color: transparent;
    border: none;
    color: white;
    z-index: 100;
    -webkit-transition: background-color 1s ease 0s;
    transition: background-color 1s ease 0s;
}

.navbar-default .navbar-brand {
    background-size: 100px 100px;
    background-repeat: no-repeat;
    position: fixed;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-default .navbar-brand:hover {
    background-size: 120px 120px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

li > a {
    text-decoration: none;
    color: #777777;
    font-size: 1.1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #000000 50%, #a8a8a8 50%, #000099);
    background-image: linear-gradient(to right, #000000 50%, #a8a8a8 50%, #a8a8a8);
    background-size: 200% 100%;
    background-position: 100%;
}

li > a:hover {
    text-decoration: underline;
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.23, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0.23, 1);
    background-position: 0%;
}

.search-input {
    background-color: lightgray;
    border: 2px solid #fff;
    box-shadow: none;
    border-radius: 50px;
    color: #fff;
}

.search-input ::-webkit-input-placeholder, .search-input :-moz-placeholder,
.search-input ::-moz-placeholder, .search-input :-ms-input-placeholder {
    color: #fff;
    font-weight: bold;
}


.glyphicon-rotate-180 {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.search-icon {
    position:relative;
    color: #fff;
    right: 30px;
    top: 2px;
}

.form-control:focus {
    border-color: lightgray;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 1px rgba(0, 0, 0, 0.3);
}

