<!--tiny mce-->
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

<header class="headerauthor">
    <div class="container-fluid form">
        <div class="container authoringui">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Create Post</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <form method="POST" ng-submit="authoringCtrl.authoringPost()">
                <!--<div class="form-group">-->
                <!--<label for="createHeaderImg">Header Image</label>-->
                <!--<input type="file" name="createHeaderImg" id="createHeaderImg">-->
                <!--</div>-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <label for="createPostTitle">Post Title</label>
                            <input type="text" class="form-control" name="createPostTitle" id="createPostTitle"
                                   placeholder="Please enter post title" ng-model="authoringCtrl.createPostTitle">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <label for="createPostAuthor">Author Name</label>
                            <input type="text" class="form-control" name="createPostAuthor" id="createPostAuthor"
                                   placeholder="Please enter your name" ng-model="authoringCtrl.createPostAuthor">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <label for="createPostPhotog">Photographer Name</label>
                            <input type="text" class="form-control" name="createPostPhotog" id="createPostPhotog"
                                   placeholder="Please enter photographer's name" ng-model="authoringCtrl.createPostPhotog">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <label for="createPostDate">Publish Date</label>
                            <input type="text" class="form-control" name="createPostDate" id="createPostDate"
                                   placeholder="Please enter publish date" ng-model="authoringCtrl.createPostDate">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <label for="createPostSummary">Post Summary</label>
                            <input type="text" class="form-control" name="createPostSummary" id="createPostSummary"
                                   placeholder="Please enter post summary" ng-model="authoringCtrl.createPostSummary">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <label for="createPostContent">Post Content</label>
                            <!--<input type="text" class="form-control" name="createPostContent" id="createPostContent"-->
                            <!--placeholder="Please enter post content">-->
                        <textarea class="form-control" name="createPostContent" id="createPostContent"
                                  placeholder="Please enter post content" ng-model="authoringCtrl.createPostContent"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br><br>
</header>
<script>

    tinymce.init({
        selector: '#createPostContent',
        width: 800,
        height: 500,
        plugins: [
            "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
            "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern"
        ],
        toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
        toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
        toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",
        menubar: false,
        toolbar_items_size: 'small',
        style_formats: [{
            title: 'Bold text',
            inline: 'b'
        }, {
            title: 'Red text',
            inline: 'span',
            styles: {
                color: '#ff0000'
            }
        }, {
            title: 'Red header',
            block: 'h1',
            styles: {
                color: '#ff0000'
            }
        }, {
            title: 'Example 1',
            inline: 'span',
            classes: 'example1'
        }, {
            title: 'Example 2',
            inline: 'span',
            classes: 'example2'
        }, {
            title: 'Table styles'
        }, {
            title: 'Table row 1',
            selector: 'tr',
            classes: 'tablerow1'
        }],
        templates: [{
            title: 'Test template 1',
            content: 'Test 1'
        }, {
            title: 'Test template 2',
            content: 'Test 2'
        }],
        content_css: [
            '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css'
        ]
    });
</script>