<h1>THIS IS THE DETAILS.HTML PAGE</h1>

<!-- Product Details Column -->
<div class="col-md-6">
    <h1>Product Name: {{ detailsCtrl.product.product_name }}</h1>

    <h3>Product Description: {{ detailsCtrl.product.product_description }}</h3>

    <button ng-click="addtocartCtrl.addtoCart()" class=" btn btn-primary">Add To Cart</button>
</div>

<!-- Product Picture Column -->
<div class="col-md-6">
    <img src="{{detailsCtrl.product.product_image}}" alt="" class="img-responsive details-image">
</div>

<!--<table>-->

    <!--<tr>-->
        <!--<td>Product Id:</td>-->
        <!--<td>{{ detailsCtrl.product.product_id }}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Product Name:</td>-->
        <!--<td>{{ detailsCtrl.product.product_name }}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Product Description:</td>-->
        <!--<td>{{ detailsCtrl.product.product_description }}</td>-->
    <!--</tr>-->

<!--</table>-->