<h1>THIS IS THE LOGIN.HTML PAGE</h1>

<form class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">email</label>
        <div class="col-sm-4">
            <input type="text"
                   class="form-control"
                   id="inputEmail3"
                   placeholder="email"
                   size="40"
                   ng-model="loginCtrl.email">
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword3" class="col-sm-4 control-label">password</label>
        <div class="col-sm-4">
            <input type="password"
                   class="form-control"
                   id="inputPassword3"
                   placeholder="password"
                   size="30"
                   ng-model="loginCtrl.password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button ng-click="loginCtrl.login()" class="btn btn-default">Sign in</button>
        </div>
    </div>
</form>