<div class="container-fluid">
    <!-- Picture with Words side by side -->
    <div class="row">
        <div class="col-md-6">
            <h1>TEXT</h1>
        </div>
        <div class="col-md-6">
            <h1>TEXT</h1>
        </div>
    </div>

    <!-- Funky Line Break -->
    <div class="row">
        <div class="col-md-12">
            LINE BREAK
        </div>
    </div>
</div>

<!-- Carousell -->
<div id="carousel-example-generic" class="carousel slide container-fluid" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://newevolutiondesigns.com/images/freebies/nature-hd-background-10.jpg" alt="...">
            <div class="carousel-caption">
                Nature Photo
            </div>
        </div>
        <div class="item">
            <img src="https://newevolutiondesigns.com/images/freebies/nature-hd-background-10.jpg" alt="...">
            <div class="carousel-caption">
                Just Another Nature Photo
            </div>
        </div>
        <div class="item">
            <img src="http://www.intrawallpaper.com/static/images/Bright-Sunset-Nature-Wallpaper.jpg" alt="...">
            <div class="carousel-caption">
                You Are Right! Another Nature Photo
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br/>
<br/>

<!--<div class="container-fluid">-->
    <!--<a href="#/shop"><img src="http://www.intrawallpaper.com/static/images/Bright-Sunset-Nature-Wallpaper.jpg" alt="" class="img-responsive"></a>-->
<!--</div>-->

<!--<div class="container-fluid">-->
    <!--<a href="#/shop"><img src="http://www.intrawallpaper.com/static/images/Bright-Sunset-Nature-Wallpaper.jpg" alt="" class="img-responsive"></a>-->
<!--</div>-->

