<h1>THIS IS POSTS.HTML PAGE</h1>

<div class="container-fluid bgcolor">

    <div class="container">
        <h1>Posts</h1>
    </div>

    <!--<div class="container-fluid images">-->
    <!--<br><br>-->
    <!--<img class="img-responsive" style="float: left; margin: 0px 0px 15px 15px;" src="/images/hkst.jpg" width="590" />-->
    <!--<img class="img-responsive" style="float: left; margin: 0px 0px 15px 15px;" src="/images/hkfd.jpg" width="590" />-->
    <!--</div>-->


    <div class="container" ng-repeat="p in postsCtrl.posts">



        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 id="blogposttitle" ng-bind="p.posttitle"></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p id="blogpostcredit">Words by: {{ p.postauthor }} &nbsp; &nbsp; Photographs
                    by: {{ p.postphotog }} &nbsp; &nbsp; Published: {{ p.postdate }} </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="columns" id="blogpostsummary"> {{ p.postsummary }} </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p id="blogpostcontent"> {{ p.postcontent }} </p>
            </div>
        </div>




        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!--<p id="blogpostshare">Share on: Facebook Instagram Google Pinterest</p>-->
                <div class="socialbar">
                    <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="https://www.pinterest.com" target="_blank"><i class="fa fa-pinterest-p fa-lg"></i></a>
                    <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                </div>
            </div>
        </div>
        <br><br> <br><br>

    </div>
</div>