<h1>YOU ARE SUCCESSFULLY REGISTERED SUCKER!</h1>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            <a href="#/shop"><img src="https://dl.dropboxusercontent.com/s/3f7835at929db1q/039d4ad0276df06706993444d6afde2e.jpg?dl=0" alt=""></a>
        </div>

        <div class="col-md-6">
            <a href="#/profile"><img src="https://dl.dropboxusercontent.com/s/o9d6eqip8anfbjt/2ac1026a5669d8e3a055da42e9c386de.jpg?dl=0" alt=""></a>
        </div>
    </div>

</div>

