<h1 class="col-md-offset-3">&nbsp;&nbsp;registration</h1>

<div class="container-fluid col-md-6 col-md-offset-3">

    <form method="post" ng-submit="registerCtrl.register()">

        <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input type="email"
                   class="form-control input-lg"
                   id="email"
                   placeholder="email"
                   ng-model="registerCtrl.email"
                   name="email">

        </div>

        <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input type="password"
                   class="form-control input-lg"
                   id="password"
                   placeholder="password"
                   ng-model="registerCtrl.password"
                   name="password">


        </div>

        <div class="form-group">
            <label for="cfmpassword" class="sr-only">Confirm Password</label>
            <input type="password"
                   class="form-control input-lg"
                   id="cfmpassword"
                   placeholder="confirm password"
                   ng-model="registerCtrl.cfmpassword"
                   name="cfmpassword">

        </div>

        <div class="form-group">
            <label for="firstname" class="sr-only">First Name</label>
            <input type="text"
                   class="form-control input-lg"
                   id="firstname"
                   placeholder="first name"
                   ng-model="registerCtrl.firstname"
                   name="firstname">

        </div>

        <div class="form-group">
            <label for="lastname" class="sr-only">Last Name</label>
            <input type="text"
                   class="form-control input-lg"
                   id="lastname"
                   placeholder="last name"
                   ng-model="registerCtrl.lastname"
                   name="lastname">

        </div>

        <input type="submit" class="btn btn-default input-lg" value="submit">

    </form>

</div>

