
<h1>THIS IS THE SHOP.HTML PAGE</h1>

<div class="row">

    <div class="col-sm-6 col-md-4" ng-repeat="l in listingsCtrl.shop | filter:search">
        <div class="thumbnail listings-image">
            <img src="{{l.product_image}}" alt="..." class="img-responsive">

            <div class="caption">
                <h3 ng-bind="l.product_name"></h3>

                <p ng-bind="l.product_description"></p>

                <button ng-click="listingsCtrl.gotoDetails(l.product_name)" class=" btn btn-primary">Details</button>

                <button ng-click="listingsCtrl.addtoCart(l.product_name)" class=" btn btn-primary">Add To Cart</button>
            </div>
        </div>
    </div>

</div>

<div ng-show="listingsCtrl.cart.length">
    <h2>Items in your cart</h2>
    <ul>
        <li ng-repeat="i in listingsCtrl.cart">
            {{ i.product_name }}
        </li>
    </ul>
</div>


<!--<!DOCTYPE html>-->
<!--<html lang="en" ng-app="CartApp">-->
    <!--<head>-->
        <!--<meta charset="UTF-8">-->
        <!--<title></title>-->
        <!--<script src="/bower_components/angular/angular.js"></script>-->
        <!--&lt;!&ndash;<link rel="stylesheet" href="cart.css">&ndash;&gt;-->
    <!--</head>-->
    <!--<body ng-controller="CartController as ctrl">-->
        <!--<h1>Items</h1>-->
        <!--<div>-->
            <!--<span> Name: </span>-->
            <!--<input type="text" placeholder="Name of your item" size="30" ng-model="ctrl.item">-->
        <!--</div>-->

        <!--<div>-->
            <!--<span> Quantity: </span>-->
            <!--<input type="number" placeholder="Quantity" ng-model="ctrl.quantity" min="1">-->
        <!--</div>-->
        <!--<div>-->
            <!--<span></span>-->
            <!--<button ng-disabled="!ctrl.item" ng-click="ctrl.addToCart()">-->
                <!--Add to Cart-->
            <!--</button>-->
        <!--</div>-->
        <!--<div ng-show="ctrl.cart.length">-->
            <!--<h2>Items in your cart</h2>-->
            <!--<ul>-->
                <!--<li ng-repeat="i in ctrl.cart">-->
                    <!--{{ i.item }} ({{ i.quantity }})-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</body>-->
<!--</html>-->